:root {
  --primary: #6750A4;
  --on-primary: #FFFFFF;
  --primary-container: #CBC0E6;
  --on-primary-container: #201933;
  --secondary: #625B71;
  --on-secondary: #FFFFFF;
  --secondary-container: #DCD8E6;
  --on-secondary-container: #2C2933;
  --tertiary: #7D5260;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #E6CDD5;
  --on-tertiary-container: #332227;
  --error: #B3261E;
  --on-error: #FFFFFF;
  --error-container: #E6ACA9;
  --on-error-container: #330B09;
  --background: #fcfcfc;
  --on-background: #323233;
  --surface: #fcfcfc;
  --on-surface: #323233;
  --surface-variant: #e0dee6;
  --on-surface-variant: #5e5c66;
  --outline: #8e8999;
  --primary-dark: #C0B1E6;
  --on-primary-dark: #30254C;
  --primary-container-dark: #403266;
  --on-primary-container-dark: #CBC0E6;
  --secondary-dark: #D8D2E6;
  --on-secondary-dark: #433E4C;
  --secondary-container-dark: #595366;
  --on-secondary-container-dark: #DCD8E6;
  --tertiary-dark: #E6C3CE;
  --on-tertiary-dark: #4C323B;
  --tertiary-container-dark: #66434F;
  --on-tertiary-container-dark: #E6CDD5;
  --error-dark: #E69490;
  --on-error-dark: #4C100D;
  --error-container-dark: #661511;
  --on-error-container-dark: #E6ACA9;
  --background-dark: #323233;
  --on-background-dark: #e4e4e6;
  --surface-dark: #323233;
  --on-surface-dark: #e4e4e6;
  --surface-variant-dark: #5e5c66;
  --on-surface-variant-dark: #dedbe6;
  --outline-dark: #aaa7b3;

  --fs-step--2: clamp(0.5206rem, 0.4235rem + 0.4859vw, 0.8rem);
  --fs-step--1: clamp(0.625rem, 0.4946rem + 0.6522vw, 1rem);
  --fs-step-0: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --fs-step-1: clamp(0.9rem, 0.6696rem + 1.1522vw, 1.5625rem);
  --fs-step-2: clamp(1.08rem, 0.7763rem + 1.5185vw, 1.9531rem);
  --fs-step-3: clamp(1.08rem, 0.7763rem + 1.5185vw, 1.9531rem);
  --fs-step-4: clamp(1.08rem, 0.7763rem + 1.5185vw, 1.9531rem);
  --fs-step-5: clamp(1.08rem, 0.7763rem + 1.5185vw, 1.9531rem);
}

html {
  color-scheme: light dark;
  background: var(--background-dark);
  color: var(--on-background-dark);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
  font-size: var(--fs-step-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.flow > * + * { /* Flow, everything except first*/
  margin-top: var(--flow-space, 1em); /* em, so relative */
}

h1 {
  --flow-space: 1.5em;
  font-size: var(--fs-step-5);
}

h2 {
  font-size: var(--fs-step-4);
  color: var(--secondary-dark);
}

h3 {
  font-size: var(--fs-step-3);
  color: var(--primary-dark);
}

h4 {
  font-size: var(--fs-step-2);
  color: var(--tertiary-dark);
}

h5 {
  font-size: var(--fs-step-1);
}

h6 {
  font-size: var(--fs-step-1);
  font-style: italic;
}

.footnote {
  font-size: var(--fs-step--1);
  font-family: Arial, Helvetica, sans-serif;
}

img,
svg,
video,
figure {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

@media (prefers-color-scheme: light) {
  html {
      background: var(--background);
      color: var(--on-background);
  }
  
  h2 {
    color: var(--secondary);
  }

  h3 {
    color: var(--primary);
  }

  h4 {
    color: var(--tertiary);
  }

}

header {
  margin-inline: 1rem;
}

.r-border {
  border-radius: 6px;
}

/* DESKTOP */
@media (width > 1128px) {}

/* TABLET FOLDABLE */
@media (700px < width < 1128px) {}

/* MOBILE */
@media (width < 700px) {}